<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<h1>Passenger Information</h1>

<p>
  Flight: <%= @flight.departure_airport.code %> → <%= @flight.arrival_airport.code %><br>
  Date: <%= @flight.departure_time.strftime("%b %d, %Y %H:%M") %><br>
  Passengers: <%= @booking.passengers.size %>
</p>

<div data-controller="passengers">
  <%= form_with model: @booking, local: true do |f| %>

    <%= f.hidden_field :flight_id, value: @flight.id %>

    <div data-passengers-target="container">
      <%= f.fields_for :passengers do |p| %>
        <div class="passenger">
          <p>Passenger <%= p.index + 1 %>:</p>

          <%= p.label :name %>
          <%= p.text_field :name %>

          <%= p.label :email %>
          <%= p.email_field :email %>

          <button type="button" data-action="click->passengers#remove">
            Remove
          </button>
        </div>
      <% end %>
    </div>

    <!-- 🔥 TEMPLATE -->
    <template data-passengers-target="template">
      <div class="passenger">
        <p>Passenger NEW_INDEX:</p>

        <label>Name</label>
        <input type="text" name="booking[passengers_attributes][NEW_INDEX][name]">

        <label>Email</label>
        <input type="email" name="booking[passengers_attributes][NEW_INDEX][email]">

        <button type="button" data-action="click->passengers#remove">
          Remove
        </button>
      </div>
    </template>

    <!-- ➕ ADD BUTTON -->
    <button type="button" data-action="click->passengers#add">
      Add Passenger
    </button>

    <%= f.submit "Book Flight" %>
  <% end %>
</div>